Repository jwickowski/DA-AzurePipelines-T10: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-backend.yml, azure-pipelines-frontned.yml

azure-pipelines-backend.yml:
  pool:
    name: Hosted VS2017
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: src/backend/ToDoList.sln
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
      projects: src/backend/ToDoList.sln
      arguments: --configuration Release
  ...

azure-pipelines-frontned.yml:
  pool:
    name: Hosted VS2017
    demands: npm
  steps:
  - task: Npm@1
    displayName: npm install
    inputs:
      workingDir: src/frontend
      verbose: false
  - task: Npm@1
    displayName: npm run build
    inputs:
      command: custom
      workingDir: src/frontend
      verbose: false
  ...

add webconfig
  src/frontend/angular.json
  src/frontend/src/web.config
Due: azure-pipelines-frontned.yml

log
  src/frontend/src/app/env-config.service.ts
Due: azure-pipelines-frontned.yml

add switch map
  src/frontend/package-lock.json
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
Due: azure-pipelines-frontned.yml

s
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
Due: azure-pipelines-frontned.yml

configuration
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
Due: azure-pipelines-frontned.yml

move configuration to init
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
Due: azure-pipelines-frontned.yml

translate
  src/frontend/src/app/app.component.html
Due: azure-pipelines-frontned.yml

add coverlet
  src/backend/ToDoList.Core.UnitTests/ToDoList.Core.UnitTests.csproj
Due: azure-pipelines-backend.yml

init config on init, not ctor
  src/frontend/src/app/app.component.ts
Due: azure-pipelines-frontned.yml

remove observable from configuration
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/env.json
Due: azure-pipelines-frontned.yml

hide app when it is starting
  src/frontend/src/app/app.component.html
  src/frontend/src/app/app.component.ts
  src/frontend/src/app/env-config.service.ts
Due: azure-pipelines-frontned.yml

use configuration in new way
  src/frontend/src/app/app.component.html
  src/frontend/src/app/to-do/to-do-items-data-source-real.service.ts
Due: azure-pipelines-frontned.yml

configure features in runtime
  src/frontend/src/app/to-do/to-do-items-data-source.service.factory.ts
  src/frontend/src/app/to-do/to-do.module.ts
  src/frontend/src/environments/environment.prod.ts
  src/frontend/src/environments/environment.ts
Due: azure-pipelines-frontned.yml

improve formating
  src/frontend/src/app/to-do/to-do-items-data-source.service.factory.ts
  src/frontend/src/app/to-do/to-do.module.ts
Due: azure-pipelines-frontned.yml

handle bool config
  src/frontend/src/app/env-config.service.ts
  src/frontend/src/env.json
Due: azure-pipelines-frontned.yml

add ARM templete
  deploy/template.json
Due: none

change arm
  deploy/template.json
Due: none

add pass
  deploy/template.json
Due: none

add parameters
  deploy/parameters.json
Due: none

add dbname parameter
  deploy/template.json
Due: none

add parameters
  deploy/parameters.json
  deploy/template.json
Due: none

remove quite
  deploy/template.json
Due: none

simplify template
  deploy/parameters.json
  deploy/template.json
Due: none

add integration tests
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests.csproj
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests/UnitTest1.cs
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests/appsettings.json
  src/backend/ToDoList.sln
Due: azure-pipelines-backend.yml

add backend integration test
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests/UnitTest1.cs
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests/appsettings.json
Due: azure-pipelines-backend.yml

change config
  src/frontend/angular.json
  src/frontend/e2e/protractor.conf.js
Due: azure-pipelines-frontned.yml

changes
  src/frontend/angular.json
  src/frontend/e2e/protractor.conf.js
  src/frontend/e2e/src/app.e2e-spec.ts
  src/frontend/e2e/src/app.po.ts
  src/frontend/src/app/to-do/to-do-list-view/to-do-list-view.component.html
Due: azure-pipelines-frontned.yml

add E2E tests
  src/backend/ToDoList.Core.IntegrationTests/ListItemCreaterTests.cs
  src/backend/ToDoList.Core.IntegrationTests/ToDoList.Core.IntegrationTests.csproj
  src/backend/ToDoList.Core.IntegrationTests/appsettings.json
  src/backend/ToDoList.sln
  src/frontend/e2e/configuration.json
  src/frontend/e2e/protractor.conf.js
  src/frontend/e2e/src/app.e2e-spec.ts
  src/frontend/package-lock.json
  src/frontend/package.json
Due: azure-pipelines-backend.yml, azure-pipelines-frontned.yml

small cleanieng
  src/backend/ToDoList.Core.IntegrationTests/ListItemCreaterTests.cs
  src/frontend/angular.json
  src/frontend/e2e/src/app.e2e-spec.ts
Due: azure-pipelines-backend.yml, azure-pipelines-frontned.yml

add simple cake
  deploy/build.cake
  deploy/build.ps1
  deploy/build.sh
Due: none

ignore cake tools
  .gitignore
Due: none

remove empty file
  src/backend/ToDoList.WebApi/wwwroot/test.json
Due: azure-pipelines-backend.yml

pepare package
  deploy/build.cake
Due: none

ignore package folder
  .gitignore
Due: none

ignore tools but not packages.config
  .gitignore
  deploy/tools/packages.config
Due: none

parametrize backeng
  deploy/build.cake
Due: none

deploy backend hardcoded
  deploy/build.cake
Due: none

format and use paramaters
  deploy/build.cake
Due: none

do not format
  deploy/build.cake
Due: none

rename pacakges names
  deploy/build.cake
Due: none

Path conditions:
  azure-pipelines-backend.yml: any of: src/backend
  azure-pipelines-frontned.yml: any of: src/frontend
